<% include ../partials/head %>
<% include ../partials/header %>

<section class="reportsbody">
    <h1>Mijn meldingen</h1>

    <% if (data === "error") { %>
    <h3 class="subtitle"> U heeft nog geen meldingen...</h3>
    <% } else { %>
        <% data.forEach(complaint=>{ %>
                <a class="myreportsA" href = "/account/melding/<%= complaint._id %>">
                    <section class="myreports">
                        <h3><%=complaint.pole.address%></h3>
                        <h4>Melding: <%=complaint.type%></h4>
                        <h4>Status: <%=complaint.status%></h4>
                        <h4>Datum: <%=complaint.date%> (<%=complaint.time%>)
                    </section>
                </a>
        <% }) %>
    <% } %>
</section>

<% include ../partials/footer %>


