<!DOCTYPE html>
<html>

<% include ../partials/head %>
<% include ../partials/header %>

<body>
    <section class="body">
        <h1>Mijn meldingen</h1>
        <% if (data === "error") { %>
        <h3 class="subtitle"> U heeft nog geen meldingen...</h3>
        <% } else { %>
            <% data.forEach(complaint=>{ %>
                <a href="/myreports/<%= complaint._id %>" class="aTicket">
                    <section class="ticket">
                        <h2 class="ticketType"><%=complaint.type%></h2>
                        <p class="ticketDescription">Address: <a href="http://maps.google.com/?q=<%=complaint.pole.address%>"> <%=complaint.pole.address%> </a></p>
                        <p class="ticketDescription">Status: <%=complaint.status%></p>
                        <p class="ticketDescription">Beschrijving: <%=complaint.description%></p>
                        <img class="ticketImg" src="/images/uploads/<%=complaint._id%>.jpeg">
                        <p class="ticketDate"><%=complaint.date%> (<%= complaint.time%>)</p>
                    </section>
                </a>
            <% }) %>
           </tbody>
        </table>
        <% } %>
    </section>
</body>

<% include ../partials/footer %>

</html>