<% include ../partials/head %>
<% include ../partials/header %>

<section class="body">
    <section class="ticket">
        <h2 class="ticketType"><%=data.type%></h2>
        <p class="ticketDescription">Adres: <%=data.pole.address%></p>
        <p class="ticketDescription">Status: <%=data.status%></p>
        <p class="ticketDescription">Beschrijving: <%=data.description%></p>
        <img class="ticketImg" src="/images/uploads/<%=data._id%>.jpeg">
        <p class="ticketDate"><%=data.date%> (<%= data.time%>)</p>

    </section>
    <h1>Chat</h1>
    <section class="chat">
        <ul id="messages">



        </ul>
        <form action="">
            <input id="m" autocomplete="off" /><button>Send</button>
        </form>
    </section>
</section>

<% include ../partials/footer %>

<!-- include socket.io -->
<script src = "/socket/socket.io.js" ></script>
<script src = "/javascripts/socket.js" ></script>

