<!DOCTYPE html>
<html>

<% include ../partials/head %>
<% include ../partials/header %>

<body>
    <section class="body">
        <section class="ticket">
            <h2 class="ticketType"><%=data.type%></h2>
            <p class="ticketDescription">Adres: <%=data.pole.address%></p>
            <p class="ticketDescription">Status: <%=data.status%></p>
            <p class="ticketDescription">Beschrijving: <%=data.description%></p>
            <img class="ticketImg" src="/images/uploads/<%=data._id%>.jpeg">
            <p class="ticketDate"><%=data.date%> (<%= data.time%>)</p>

        </section>
        <section class="chat">

        </section>
    </section>
</body>

<% include ../partials/footer %>

</html>