<!DOCTYPE html>
<html>

<% include ../partials/head %>
<% include ../partials/header %>

<body>
    <section class="body">
        <section class="ticket">
            <p class="ticketSubtitle"><%=data.date%></p>
            <p class="ticketSubtitle"><%=data.time%></p>
            <h2 class="ticketType"><%=data.type%></h2>
            <p class="ticketDescription">Status: <%=data.status%></p>
            <p class="ticketDescription">Beschrijving: <%=data.description%></p>
            <img class="ticketImg" src="/images/uploads/<%=data._id%>.jpeg">
        </section>
        <section class="chat">

        </section>
    </section>
</body>

<% include ../partials/footer %>

</html>