<% include ../partials/head %>
<% include ../partials/header %>


Oud
<% console.log(data)%>
<% if (data === "error") { %>
    <h3 class="subtitle"> Deze paal heeft geen meldingen...</h3>
    <% } else { %>
    <section class="reportsbody">
        <h1>Meldingen paal: <%= data[0].pole.address %></h1>

        <% data.forEach(complaint=>{ %>
                <section class="myreports">
                    <h3><%=complaint.type%></h3>
                    <h4>Status: <%=complaint.status%></h4>
                    <h4>Datum: <%=complaint.date%> (<%=complaint.time%>)</h4>
                </section>
                </a>
        <% }) %>
        <% } %>
    </section>




<% include ../partials/footer %>


