<!DOCTYPE html>
<html>

<% include ../partials/head %>
<% include ../partials/header %>

<body>
    <section class="body">
    <%data.forEach(complaint=>{ %>
        <section class="ticket">
            <p class="ticketSubtitle"><%= complaint.date%></p>
            <p class="ticketSubtitle"><%= complaint.time%></p>
            <h2 class="ticketType"><%= complaint.type%></h2>
            <p class="ticketDescription">Status: <%= complaint.status%></p>
            <p class="ticketDescription">Beschrijving: <%= complaint.description%></p>
            <img class="ticketImg" src="/images/uploads/<%= complaint._id%>.jpeg">
        </section>
    <%})%>
    </section>
</body>

<% include ../partials/footer %>

</html>