<% include ../partials/head %>
<% include ../partials/header %>

<section class="body">
<%data.forEach(complaint=>{ %>
    <section class="ticket">
        <h2 class="ticketType"><%=complaint.type%></h2>
        <div class="markerWrapper">
            <p class="ticketDate"><%=complaint.date%> (<%= complaint.time%>)</p>
        </div>
        <p class="ticketDescription">Adres: <%=complaint.pole.address%></p>
        <p class="ticketDescription">Status: <%=complaint.status%></p>
        <p class="ticketDescription">Beschrijving: <%=complaint.description%></p>
        <img class="ticketImg" src="/images/uploads/<%=complaint._id%>.jpeg" onerror="this.style='display: none'">
        
    </section>
<%})%>
</section>

<% include ../partials/footer %>


