<% include ../partials/head %>
<% include ../partials/header %>

<section class="body"> <% 
    if(data.user.name) {
      %> <h1>Bedankt voor de melding, <%- data.user.name %> !</h1> <%
    } else {
      %> <h1>Bedankt voor de melding!</h1> <%
    } %>

  <section class="ticket">
    <h2 class="ticketType"><%=data.type%></h2>
    <div class="markerWrapper">
        <p class="ticketDate"><%=data.date%> (<%= data.time%>)</p>
        <a href="/myreports/<%= data._id %>" class="chatLink">CHAT</a>
    </div>
    <p class="ticketDescription">Adres: <%=data.pole.address%></p>
    <p class="ticketDescription">Status: <%=data.status%></p>
    <p class="ticketDescription">Beschrijving: <%=data.description%></p>
    <img class="ticketImg" src="/images/uploads/<%=data._id%>.jpeg">
    
  </section>
  <button class="alternativeButton" onclick="location.href = '/nearestpole';" >Alternatieve Laadpaal</button>
</section>

<% include ../partials/footer %>