<!DOCTYPE html>
<html>

<% include ../partials/head %>

<body>

<% include ../partials/header %>

  <section class="body"> <% 
      if(data.user.name) {
        %> <h1>Bedankt voor de melding, <%- data.user.name %> !</h1> <%
      } else {
        %> <h1>Bedankt voor de melding!</h1> <%
      } %>

    <section class="ticket">
      <p class="ticketSubtitle"><%= data.date%></p>
      <p class="ticketSubtitle"><%= data.time%></p>
      <h2 class="ticketType"><%= data.type%></h2>
      <p class="ticketDescription"><%= data.description%></p>
      <img class="ticketImg" src="/images/uploads/<%= data._id %>.jpeg"></img>
    </section>
    <form class="login" action="/alternativeroute" >
     
      <button class="button">ALTERNATIEVE LAADPAAL</button>
    </form>
  </section>
</body>

<% include ../partials/footer %>

</html>